/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Lato&display=swap");

/* Define custom variables */
:root {
    /* Colors */
    --neutral-1: #f5f5f5;
    --neutral-2: #d4d4d4;
    --neutral-3: #737373;

    /* Standard pxs */
    --x-big: 64px;
    --big: 32px;
    --normal: 16px;
    --small: 8px;
    --x-small: 4px;

    /* Others */
}

/* Apply general styling and reset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

input,
button {
    font: inherit;
    padding: var(--x-small) var(--small);
    border-radius: var(--x-small);
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
}

header,
main,
footer {
    padding: var(--small);
}

body header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .notification {
    padding: var(--small) var(--normal);
    background-color: var(--neutral-1);
    min-width: 30%;
}

main {
    display: grid;
    grid-template-rows: 90% repeat(2, 5%);
}

main .gameboards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--x-big);
}

.gameboards>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--x-small);
}

.gameboards .gameboard {
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: repeat(11, 40px);
    margin-top: var(--small);
    border: 1px solid var(--neutral-2);
    border-radius: var(--x-small);
}

.gameboard .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--neutral-2);
}

.cell.label {
    background-color: var(--neutral-2);
    border: none;
    font-weight: bold;
}

.cell.player-ship {
    background-color: var(--neutral-3);
    border: none;
}

.cell.computer-ship {
    background-color: var(--neutral-2);
    border: none;
}

main .randomize {
    display: flex;
    align-items: center;
    gap: var(--x-small);
    background-color: var(--neutral-2);
    max-width: fit-content;
    padding: 2px var(--small);
    border-radius: var(--x-small);
    transition: transform 0.3s;
    cursor: pointer;
    will-change: contents;
}

.randomize:hover {
    transform: translateX(var(--x-small));
}

.randomize:active {
    transform: scale(0.95);
}

.randomize .mdi {
    font-size: 20px;
}

main .settings {
    margin-top: var(--normal);
}

main .settings,
.checkboxes,
.checkboxes div {
    display: flex;
    align-items: center;
    gap: var(--small);
}

.checkboxes div {
    gap: var(--x-small);
}

footer {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

footer .author {
    color: inherit;
}

footer .author:hover {
    font-weight: 900;
}